* {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body {
	margin: 0;
	padding: 0;
}


body {
	min-height: 100vh;
}

.wrapper {
	display: flex;
	min-height: 100vh;
	align-items: center;
	justify-content: center;
}

.card {
	background-color: #fbbc04;
    border-radius: 8px;
    box-shadow: 0 2px 6px 2px rgba(60,64,67,.15);
    margin-top: 4px;
	padding: 0;

	animation: animation 4.5s linear infinite;
    background: linear-gradient(135deg,#d3e3fd,#d0f8ff,#a8c7fa,#99f0ff,#d3e3fd,#d3e3fd,#d0f8ff,#a8c7fa,#99f0ff,#d3e3fd);
    background-size: 800% 800%;

	position: absolute;
    z-index: 1201!important;
}

.blurContainer {
	height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.blur {
	background: radial-gradient(35% 35% at 50% 0,#d3e3fd 0,rgba(211,227,253,0) 100%);
    height: 100%;
    position: absolute;
    width: 100%;
}

.content {
	padding: 16px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 363px;
}

.content span {
	word-wrap: break-word;
	color: #202124;
}

.headingPiece span {
    font-size: 16px;
    font-weight: 500;
    opacity: 1;
}

.bodyPiece span {
    font-size: 14px;
    font-weight: 400;
    padding: 4px 0;
}

.buttonPiece {
	position: relative;
    text-align: right;
	padding: 0;
    margin-top: 16px;
	font-weight: 500;
}

.buttonPiece span {
    font-size: 14px;
    font-weight: 500;
    margin: 0 0 0 20px;
    text-transform: none;
}

@keyframes animation {
	0% {
		background-position: 100% 100%;
	}
	100% {
		background-position: top 37.5% left 37.5%;
	}
}